.swiperDots {
  height: fit-content;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.slideStats {
  min-height: 30vh;
  height: fit-content;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #ece9e9;
  border-radius: 24px;
  z-index: 12;
}

.statsTitle {
  font-weight: bold;
  font-size: x-large;
}

.statsText {
  font-weight: bolder;
  color: #dc6099 !important;
  font-size: x-large;
}

.statsText2 {
  font-weight: bold;
}

.lineChart {
  height: 30vh;
  width: auto;
}

.donut {
  height: 20vh;
  width: auto;
}
