.slideStats {
  height: 40vh;
  width: 90vw;
  padding: 8px;
  background-color: #ece9e9;
  border-radius: 24px;
  z-index: 12;
  margin: 16px;
}

.swiperDots {
  height: 45vh;
}

.statsTitle {
  font-weight: bold;
  font-size: x-large;
}

.statsText {
  font-weight: bolder;
  color: #dc6099;
  font-size: x-large;
}

.statsText2 {
  font-weight: bold;
}

.lineChart {
  height: 30vh;
  width: auto;
  
}
