#headerptrn {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 28vh;
  object-fit: cover;
  z-index: 10;
  opacity: 10%;
}

#headerptrn2 {
  position: absolute;
  width: 100vw;
  height: 28vh;
  object-fit: cover;
  opacity: 10%;
}

.content {
  margin-top: 6em;
}

.orderConfirm {
  background-color: white;
  color: black;
  border-radius: 2em;
  width: 100%;
  z-index: 10;
}

.orders {
  background-color: #2b2e6b;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 2em;
  margin-bottom: 8em;
}

.containers {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  gap: 1em;
}

.adresContainer {
  padding-left: 1em;
  padding-right: 1em;
}

.name {
  color: grey;
  font-size: larger;
}

.adres {
  opacity: 70%;
  color: lightgrey;
  font-size: medium;
}

.pay {
  font-size: large;
}

.input {
  border: solid 2px #d5dde0;
  background-color: #f7f8f9;
  width: 70%;
  display: flex;
  margin: 0 4em;
  color: black;
  border-radius: 1em;
}
