.iviteCard {
  width: 90vw;
  height: 30vh;
  display: flex;
  border-radius: 30px;
  margin: auto;
  background-position: center;
  background-image: url("/Photos/Screen Shot 2022-10-19 at 2.19.56 AM.png");
}
.iviteCardLogo {
  width: 200px;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("/Photos/istockphoto-1365310330-612x612 1.png");
}
.iviteCardLogoCoins {
  width: 200px;
  background-repeat: no-repeat;
  height: 100%;
  margin-left: auto;
  background-image: url("/Photos/Gold Coins.png");
}

.iviteCardText {
  color: aliceblue;
  font-size: 20;
  font-weight: bold;
  height: 50%;
  font-size: 15px;
}

.textBox {
  width: 60%;
  height: 110%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
