.container {
  height: 40%;
}

#title {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0;
  margin-left: 1em;
}

.Card {
  height: 20vh;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  border-radius: 1.5em;
}

#Logo {
  float: right;
  margin-right: 10%;
  margin-top: 30mm;
  height: 10mm;
}

.CardInfo {
  text-align: start;
  margin-left: 5%;
  margin-top: 10%;
}

h5 {
  font-weight: bold;
  color: white;
}

p {
  font-weight: bold;
  color: white;
}
