.popupCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.profileIonBtn {
  width: 95vw;
  height: 13vh;
}

.profileBtn {
  display: flex;
  width: 100vw;
  gap: 1em;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 0.3em;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.callBtn {
  width: 64vw;
}

.msgBtn {
  width: 29vw;
}

#markerTitle {
  margin-left: 5vw;
}
