.cardeen{
 
    width: 80%;
    height: 200px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    background-image:url("/Photos/Screen Shot 2022-10-19 at 2.19.56 AM.png");
    background-position: center;
   display: flex;


}
.logoeen{
    background-image:url("/Photos/2mensen op de bank.png");
    width :200px;
    background-repeat: no-repeat;
    height: 150px;

}
.cardtwee{
 
        width: 80%;
        height: 200px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 30px;
        background-image:url("/Photos/Screen Shot 2022-10-19 at 2.21.35 AM.png");
        background-position: center;
        display: flex;
    

}
.logotwee{
    background-image:url("/Photos/ervaringen 1.png");
    width: 200px;
    background-repeat: no-repeat;
    height: 200px;

}
.cardeentext{
    color: aliceblue;
    font-size: 20;
    font-weight: bold;
    height: 50%;
    font-size: 15px;

  
}
.cardtweetext{
    color:#DC6099;
    font-size: 20;
    font-weight: bold;
    height: 50%;
    font-size: 15px;

}

.textbox{
    
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    


}
.swiper-pagination-bullet {
    color: #D9D9D9;
    opacity: 0.5;
    width: 75px;
    height: 5px;
    border-radius: 0%;

  }

  .swiper-pagination-bullet-active {
    opacity: 2;
    color: #5C99D0;
  }
  .button{
    width: auto;
    margin: auto;
    float: right;
    
  }
 
 








