.background { 
    background: red;
}

.center {
    width: 60%;
    margin: auto;
}

.headerbackground {
    background: url(../Images/headerbackground.png);
    background-repeat: no-repeat;
    background-size: auto;
}