.center {
  width: 60%;
  margin: auto;
}

.stats-background {
  background-color: #dadada;
  margin: 16px;
  border-radius: 24px;
  z-index: 12;
}

.TipsVoorVandaag {
  width: 100vw;
  height: 100vh;
}
