.mainContainer {
  background-color: #2b2e6b;
  margin-top: 3em;
  padding: 0.5em;
  color: white;
}

#title {
  text-align: center;
  margin: 0 0;
}

#subtitle {
  margin: 0 0;
}

#desription {
  text-align: center;
}

.container {
  width: 100vw;
  display: flex;
  padding-top: 0.5em;
}
