:root {
  --swiper-pagination-bullet-width: 10vw;
}
.cardone {
  width: 90vw;
  height: 30vh;
  border-radius: 30px;
  background-image: url("/Photos/Screen Shot 2022-10-19 at 2.19.56 AM.png");
  background-position: center;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.logoone {
  background-image: url("/Photos/2mensen op de bank.png");
  width: 200px;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 30%;
}

.cardonetext {
  color: white;
  font-size: 20;
  font-weight: bold;
  height: 50%;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.textbox {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.button {
  width: auto;
  margin: auto;
  float: right;
  margin-top: 3%;
  font-weight: bold;
}

.h2 {
  color: #2b2e6b;
}
.p {
  color: #dc6099;
}
