@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

ion-tab-bar {
  width: 90vw;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 1em;
  background-color: white;
  margin-bottom: 1em;
  align-self: center;
  box-shadow: 0 0 10px 10px #aaaaaa1c;
  --border: none;
}

ion-tab-button {
  position: relative;
  --color: #5c99d0;
  --color-selected: #5c99d0;
  --background: white;
  --ripple-color: transparent;
}

ion-tab-button::before {
  background-color: transparent;
  display: flex;
  content: "";
  padding-bottom: 4em;
  height: 2.8em;
  width: 100%;
  position: absolute;
  top: -1em;
  border-radius: 1em;
}

ion-tab-button.tab-selected::before {
  background-color: #e5f2ff;
}

ion-tab-button ion-label {
  display: none;
  font-size: 1.5em;
}

ion-tab-button.tab-selected ion-label {
  display: block;
}

ion-router-outlet {
  height: 100vh;
  width: 100vw;
}
