.mainContent {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.cardContainer {
    width: 95vw;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 1em;
    background-color: #EFF5FB;
}

.cardContainer::after {
    content: "";
    width: 5vw;
    height: 10vh;
    border-radius: 1em;
    background-color: var(--ion-color-navigation);
}

.cardContent {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

#title {
    font-size: 1.5em;
    font-weight: 100;
}