.mainContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnContainer {
  width: 31vw;
  height: fit-content;
  padding: 1em;
  background-color: #eff5fb;
  text-align: center;
  font-weight: bold;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
