#headerptrn {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 2vh;
  object-fit: cover;
  z-index: 10;
  opacity: 10%;
}

.content {
  margin-top: 5em;
}

.products {
  margin-top: 2em;
  border-radius: 25%;
}

.image {
  padding-right: 0;
}

.button {
  display: flex;
  align-items: center;
}

.btn {
  width: 1em !important;
  height: 1em !important;
}

.count {
  margin: 0 1em;
}

.product {
  font-size: x-large;
}

.price {
  color: orange;
}
