.mainContainer {
  width: 100vw;
  height: 100dvh;
}

#imgMap {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.inputContainer {
  margin-top: 1em;
  margin-left: 5vw;
  width: 90vw;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  background-color: white;
  padding: 0.5em !important;
  border: 0.1em solid rgb(238, 238, 238);
}

.input {
  color: rgb(54, 54, 54);
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  border-radius: 1em;
  background-color: #5c99d0;
  color: white;
}

.filterBtn {
  position: absolute;
  top: 5.5em;
  right: 1.8em;
  width: 4em;
  height: 4em;
  padding: 0 0 !important;
}

/* Om de icon te fixen moet --padding-start 0 --padding-end 0 */
.icon {
  width: 60%;
  height: 60%;
}

.filterContainer {
  display: flex;
  gap: 1em;
  margin: 1em;
  width: max-content;
  height: fit-content;
}

.filterContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: fit-content;
  height: fit-content;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.markerContainer {
  position: absolute;
  color: black;
  --background: transparent;
  --background-activated: transparent;
}

.mainPopupContainer {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  background-color: #edf1f3;
}

#title {
  width: 90%;
  color: black;
}

.consulentContainer {
  width: 90%;
  height: fit-content;
  color: black;
  display: flex;
  gap: 1em;
  background-color: #fff;
  padding: 0.8em;
  border-radius: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

#profileImg {
  width: 30%;
  height: auto;
  border-radius: 1em;
  object-fit: cover;
}

.consulentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

#distance {
  font-size: 0.8em;
  font-weight: normal;
}

.bottomContainer {
  width: 90%;
  height: 50%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#afspraak {
  width: 79%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#moreInfo {
  width: 19%;
  height: 4em;
}

.aboutMe {
  width: 90%;
  color: black;
  background-color: #fff;
  padding: 0.8em;
  border-radius: 1em;
}

.openTime {
  width: 90%;
  color: black;
  padding: 0.8em;
}

#secondTitle {
  font-size: 1.7em;
  margin-top: 0;
}
