.headerbackground {
  background-color: #2b2e6b;
  background-size: cover;
  height: auto;
  position: relative;
  width: 100vw;
  border-radius: 0% 0% 50% 50% / 20%;
}

.headerptrn {
  position: absolute;
  width: 100vw;
  height: 25vh;
  object-fit: cover;
  z-index: 10;
}

.headerptrnNonUser {
  position: absolute;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  height: 40vh;
  z-index: 10;
  object-fit: cover;
}

.headerlogo {
  position: absolute;
}

.headertitle {
  color: white;
  text-align: center;
}

.headerbutton {
  z-index: 11;
}
