.headerbackground {
    background-color: #2B2E6B;
    background-size: cover;
    height: auto;
    position: relative;
    width: 100vw;
    height: 45vh;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.headercontent {
    top: 0;
}

.headerptrn {
    position: absolute;
    width: 100vw;
    height: 45vh;
    z-index: 10;
}

.headerlogo {
    position: absolute;
}

.headertitle {
    color: white;
    text-align: center;
}

.headerbutton {
    z-index: 11;
}