.headerbackground {
  background-color: #2b2e6b;
  background-size: cover;
  height: 28vh;
  position: relative;
  width: 100vw;
  border-radius: 0% 0% 50% 50% / 20%;
}

#headerptrn {
  position: absolute;
  width: 100vw;
  height: 28vh;
  object-fit: cover;
  z-index: 10;
}

.headerptrnNonUser {
  position: absolute;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  height: 40vh;
  z-index: 10;
  object-fit: cover;
}

#headerlogo {
  position: absolute;
  top: 0.5em;
  left: 0;
}

.titleMargin {
  margin-top: 2em;
}

.headertitle {
  color: white;
  text-align: center;
}

.headerbutton {
  z-index: 11;
}

@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
