.mainContainer {
  margin-bottom: 8em;
}

.headerContainer {
  background-image: url(headerBG.svg);
  background-size: cover;
  width: 100vw;
  height: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer ion-text {
  font-size: 3em;
  color: white;
}

.datePickContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.datePickContainer ion-datetime {
  --background: white;
  --ion-color-base: #dc6099 !important;
  width: 100vw;
  max-width: none !important;
}

.commentContainer {
  display: flex;
  justify-content: center;
  margin: 1em;
  height: 23dvh;
}

.commentContainer div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 15dvh;
}

.commentContainer ion-textarea {
  border: 0.1em solid black;
  border-radius: 1em;
  padding: 0.5em;
  width: 80vw;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.btnContainer ion-button {
  width: 35vw;
  height: 8dvh;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 1em;
}

.morningContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.timeContent {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.before {
  padding: 1em;
  background-color: #f8f2ee;
  flex: 1;
  text-align: center;
}

.before:first-child {
  border-radius: 1em 0 0 1em;
}

.before:last-child {
  border-radius: 0em 1em 1em 0em;
}

.after {
  padding: 1em;
  background-color: #dc6099;
  flex: 1;
  text-align: center;
}

.after:first-child {
  border-radius: 1em 0 0 1em;
}

.after:last-child {
  border-radius: 0em 1em 1em 0em;
}

ion-toast {
  --background: #dc6099;
  --color: white;
  font-size: 1.3em;
}
