.container {
  height: 40%;
  margin-top: 5%;
}

#title {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0;
  margin-left: 1em;
}

.Card {
  height: fit-content;
  padding: 1em;
  width: 86vw;
  margin-left: 7vw;
  margin-right: 7vw;
  border-radius: 1.5em;
}

#Logo {
  float: right;
  margin-right: 10%;
  margin-top: 30mm;
  height: 10mm;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
  margin-left: 5%;
  margin-top: 5%;
}

#name {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  font-family: " Cad", sans-serif;
}

#cardNmb {
  font-weight: bold;
  color: white;
  letter-spacing: 0.2em;
  font-family: "Credit Card", sans-serif;
}
#cardIcons {
  height: 75px;
  width: 100px;
  display: flex;
  flex-direction: row;
}

#wifi {
  height: 5vh;
  width: 10vh;
  margin-top: 25%;
}
#sim {
  margin-top: 20px;
}
