#icon {
  float: right;
}
#data {
  float: right;
}
#AvatarIcon {
  float: right;
  color: #dc6099;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 20px 20px 10px rgb(243, 240, 240);
  width: 90vw;
  height: 8vh;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.data {
  display: flex;
  align-items: center;
  color: #9098b1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
