#headerptrn {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 20vh;
  object-fit: cover;
  z-index: -1;
  opacity: 10%;
}

.navBtn {
  position: absolute;
  top: 0.7em;
  left: 0.7em;
  background-color: #5c9ad03e;
  padding: 0.3em;
  border-radius: 0.5em;
}

.content {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.products {
  border-radius: 1em;
  width: 90vw;
}

.itemSlider {
  background-color: #2b2e6b;
  border-radius: 1em;
  outline: 1em solid white;
}
.slider {
  --padding-start: none;
  --inner-padding-end: none;
  --inner-border-width: 0;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 0.5em;
}
.contentContainer {
  display: flex;
  align-items: center;
  width: 60vw;
  gap: 1em;
}
.image {
  width: 30em;
  object-fit: cover;
}

.productText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.col {
  --ion-grid-column-padding: 0;
  --ion-grid-column-padding: 0;
}
.row {
  display: flex;
  flex-direction: column;
}
#productName {
  font-size: 1.4em;
  word-wrap: break-word;
  width: fit-content;
}
#productWeight {
  font-size: 1em;
  font-weight: lighter;
}

.button {
  display: flex;
  align-items: center;
}
.btn {
  width: 2.5em;
  height: 2.5em;
  --padding-start: 0;
  --padding-end: 0;
}

.count {
  margin: 0 1em;
}

.price {
  color: orange;
  font-size: x-large;
}

.page {
  padding-bottom: 8em;
}

.orders {
  background-color: #2b2e6b;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 2em;
}

#headerptrn2 {
  position: absolute;
  width: 100vw;
  height: 28vh;
  object-fit: cover;
  opacity: 10%;
}

.orderConfirm {
  background-color: white;
  color: black;
  border-radius: 2em;
  width: 100%;
  z-index: 10;
}
